paramiko
sqlalchemy>=2.0.0
psycopg[binary]>=3.2.0
alembic>=1.14.0
fastapi
uvicorn
pydantic
pydantic-settings
ollama
python-multipart
tracely
evidently
pytest
langchain-ollama
langchain-chroma
langchain-postgres
chromadb
azure-identity
azure-keyvault-secrets
